# KDE Config File
[Desktop Entry]
Type=Application
Exec=kmag -caption "%c" %i
Icon=kmag
DocPath=kmag/index.html
Comment=
Terminal=false
Name=KMag
Name[el]=K μεγεθυντικός φακός
Name[ne]=केडीई म्याग
Name[pa]=ਕੇ-ਵੱਡਦਰਸ਼ੀ
Name[sv]=Kmag
Name[tg]=KMag 
Name[x-test]=xxKMagxx
Name[zh_TW]=K-放大鏡
GenericName=Screen Magnifier
GenericName[ar]=مكبَر الشاشة
GenericName[be]=Экранная лупа
GenericName[ca]=Lupa de la pantalla
GenericName[cs]=Lupa obrazovky
GenericName[cy]=KChwyddwr
GenericName[da]=Skærmforstørrer
GenericName[de]=Bildschirmlupe
GenericName[el]=Μεγεθυντικός φακός οθόνης
GenericName[eo]=Ekrano-pligrandigilo
GenericName[es]=Aumenta la pantalla
GenericName[et]=Ekraani suurendaja
GenericName[eu]=Pantailaren lupa
GenericName[fa]=درشت‌نمای پرده
GenericName[fi]=Suurennuslasi
GenericName[fr]=Loupe d'écran
GenericName[ga]=Formhéadaitheoir Scáileáin
GenericName[gl]=Ampliación da pantalla
GenericName[he]=זכוכית מגדלת
GenericName[hu]=Nagyító
GenericName[is]=Skjástækkunargler
GenericName[it]=Lente di ingrandimento per lo schermo
GenericName[ja]=画面拡大鏡
GenericName[km]= កម្មវិធី​ពង្រីក​អេក្រង់​
GenericName[lt]=Ekrano didintojas
GenericName[mk]=Зголемувач за екранот
GenericName[ms]=Pembesar Skrin
GenericName[nb]=Skjermforstørrer
GenericName[nds]=Schirmluup
GenericName[ne]=पर्दा अभिवर्धक
GenericName[nl]=Schermvergroter
GenericName[nn]=Skjermforstørrar
GenericName[pa]=ਸਕਰੀਨ ਵੱਡਦਰਸ਼ੀ
GenericName[pl]=Powiększanie fragmentów ekranu
GenericName[pt]=Lupa
GenericName[ro]=Lupă de ecran
GenericName[ru]=Экранная лупа
GenericName[sl]=Povečevalnik zaslona
GenericName[sr]=Екрански увеличавач
GenericName[sr@latin]=Ekranski uveličavač
GenericName[sv]=Förstoringsglas
GenericName[ta]=திரை பெரிதாக்கி
GenericName[tg]=Калон кардани экран
GenericName[tr]=Ekran Büyüteci
GenericName[uk]=Збільшувач екрана
GenericName[uz]=Экранни катталаштирувчи
GenericName[x-test]=xxScreen Magnifierxx
GenericName[zh_TW]=螢幕放大鏡
Categories=Qt;KDE;Utility;Accessibility;
Encoding=UTF-8
