<!DOCTYPE kpartgui>
<kpartgui name="kmag" version="1.0">
 <ToolBar noMerge="1" name="mainToolBar">
  <Action name="new_window"/>
  <Action name="start_stop_refresh"/>
  <Action name="zoom_in"/>
  <Action name="zoom"/>
  <Action name="zoom_out"/>
  <Action name="fit_to_window"/>
  <Action name="snapshot"/>
  <Action name="print"/>
  <Action name="copy"/>
  <Action name="fps_selector"/>
  <Action name="conf_menu"/>
  <Action name="help_menu"/>
 </ToolBar>

</kpartgui>
