# KDE Config File
[Desktop Entry]
Type=Application
Exec=kmag -caption "%c" %i
Icon=kmag
X-DocPath=kmag/index.html
Terminal=false
Name=KMag
Name[ar]=مكبَر كي
Name[ast]=KMag
Name[be]=KMag
Name[bg]=KMag
Name[br]=KMag
Name[bs]=KMag
Name[ca]=KMag
Name[ca@valencia]=KMag
Name[cs]=KMag
Name[da]=KMag
Name[de]=KMag
Name[el]=KMag
Name[en_GB]=KMag
Name[es]=KMag
Name[et]=KMag
Name[eu]=KMag
Name[fi]=KMag
Name[fr]=KMag
Name[ga]=KMag
Name[gl]=KMag
Name[he]=KMag
Name[hi]=के-मैग
Name[hne]=के-मैग
Name[hr]=KMag
Name[hu]=KMag
Name[is]=KMag
Name[it]=Lente d'ingrandimento
Name[ja]=KMag
Name[kk]=KMag
Name[km]=KMag
Name[ko]=KMag
Name[ku]=KMag
Name[lt]=KMag
Name[lv]=KMag
Name[mk]=KMag
Name[ml]=കെമാഗ്
Name[mr]=के-मैग
Name[ms]=KMag
Name[nb]=KMag
Name[nds]=KMag
Name[ne]=केडीई म्याग
Name[nl]=KMag
Name[nn]=KMag
Name[pa]=ਕੇ-ਵੱਡਦਰਸ਼ੀ
Name[pl]=KMag
Name[pt]=KMag
Name[pt_BR]=KMag
Name[ro]=KMag
Name[ru]=KMag
Name[sk]=KLupa
Name[sl]=KMag
Name[sq]=KMag
Name[sr]=К‑увеличање
Name[sr@ijekavian]=К‑увеличање
Name[sr@ijekavianlatin]=K‑uveličanje
Name[sr@latin]=K‑uveličanje
Name[sv]=Kmag
Name[ta]=KMag
Name[tg]=KMag 
Name[tr]=KMag
Name[ug]=KMag
Name[uk]=KMag
Name[vi]=Kính lúp K
Name[x-test]=xxKMagxx
Name[zh_CN]=KMag
Name[zh_TW]=K-放大鏡
GenericName=Screen Magnifier
GenericName[ar]=مكبَر الشاشة
GenericName[ast]=Aumenta la pantalla
GenericName[be]=Экранная лупа
GenericName[bg]=Лупа за екрана
GenericName[bs]=Uveličavač ekrana
GenericName[ca]=Lupa de la pantalla
GenericName[ca@valencia]=Lupa de la pantalla
GenericName[cs]=Lupa obrazovky
GenericName[cy]=KChwyddwr
GenericName[da]=Skærmforstørrer
GenericName[de]=Bildschirmlupe
GenericName[el]=Μεγεθυντικός φακός οθόνης
GenericName[en_GB]=Screen Magnifier
GenericName[eo]=Ekrano-pligrandigilo
GenericName[es]=Aumenta la pantalla
GenericName[et]=Ekraani suurendaja
GenericName[eu]=Pantailaren lupa
GenericName[fa]=درشت‌نمای پرده
GenericName[fi]=Suurennuslasi
GenericName[fr]=Loupe d'écran
GenericName[ga]=Formhéadaitheoir Scáileáin
GenericName[gl]=Lupa da pantalla
GenericName[he]=זכוכית מגדלת
GenericName[hi]=स्क्रीन आवर्धक
GenericName[hne]=स्क्रीन आवर्धक
GenericName[hr]=Zaslonsko povećalo
GenericName[hu]=Képernyőnagyító
GenericName[is]=Skjástækkunargler
GenericName[it]=Lente di ingrandimento per lo schermo
GenericName[ja]=画面拡大鏡
GenericName[kk]=Экран үлкейткіші
GenericName[km]= កម្មវិធី​ពង្រីក​អេក្រង់​
GenericName[ko]=화면 돋보기
GenericName[ku]=Nêzîkera Dîmenê
GenericName[lt]=Ekrano didintuvas
GenericName[lv]=Ekrāna palielināmais stikls
GenericName[mk]=Зголемувач за екранот
GenericName[ml]=യവനികയിലെ ഭൂതക്കണ്ണാടി
GenericName[mr]=स्क्रीन वर्धक
GenericName[ms]=Pembesar Skrin
GenericName[nb]=Skjermforstørrer
GenericName[nds]=Schirmluup
GenericName[ne]=पर्दा अभिवर्धक
GenericName[nl]=Schermvergroter
GenericName[nn]=Skjermforstørrar
GenericName[pa]=ਸਕਰੀਨ ਵੱਡਦਰਸ਼ੀ
GenericName[pl]=Powiększanie fragmentów ekranu
GenericName[pt]=Lupa do Ecrã
GenericName[pt_BR]=Ampliador de tela
GenericName[ro]=Lupă de ecran
GenericName[ru]=Экранная лупа
GenericName[sk]=Lupa obrazovky
GenericName[sl]=Povečevalnik zaslona
GenericName[sq]=Zmadhuesi i Ekranit
GenericName[sr]=Увеличавач екрана
GenericName[sr@ijekavian]=Увеличавач екрана
GenericName[sr@ijekavianlatin]=Uveličavač ekrana
GenericName[sr@latin]=Uveličavač ekrana
GenericName[sv]=Förstoringsglas
GenericName[ta]=திரை பெரிதாக்கி
GenericName[tg]=Калон кардани экран
GenericName[tr]=Ekran Büyüteci
GenericName[ug]=ئېكران چوڭايتقۇ
GenericName[uk]=Збільшувач екрана
GenericName[uz]=Ekranni kattalashtiruvchi
GenericName[uz@cyrillic]=Экранни катталаштирувчи
GenericName[vi]=Phóng đại Màn hình
GenericName[x-test]=xxScreen Magnifierxx
GenericName[zh_CN]=屏幕放大镜
GenericName[zh_TW]=螢幕放大鏡
Categories=Qt;KDE;Utility;Accessibility;
