# KDE Config File  
[Desktop Entry]
Type=Application
Exec=kmag -caption "%c" %i %m  
Icon=kmag.png
MiniIcon=kmag.png
DocPath=kmag/index.html
Comment=
Comment[pl]=Program do oglądania powiększonych fragmentów ekranu
Comment[ro]=Un utilitar de mărit zone ale ecranului
Comment[xx]=xxxx
Terminal=0
Name=K Magnifier
Name[bs]=K Povećalo
Name[cy]=KChwyddwr
Name[de]=KMagnifier
Name[el]=K μεγεθυντικός φακός
Name[eo]=KGrandigilo
Name[fi]=Suurennuslasi
Name[hi]=के मैग्नीफायर
Name[hu]=KMag
Name[is]=K stækkunargler
Name[it]=KMagnifier
Name[nb]=K Forstørrer
Name[pl]=KMagnifier (Lupa)
Name[pt]=Lupa
Name[ro]=Lupă
Name[ru]=Экранная лупа
Name[sk]=K Lupa
Name[sv]=K magnifier
Name[ta]=கே மேக்னி
Name[tg]=K Калон Кардан
Name[tr]=Büyüteç
Name[uz]=Катталаштиргич
Name[xx]=xxK Magnifierxx
Name[zh_CN]=K 放大镜
Name[zh_TW]=K-放大鏡
GenericName=Screen Magnifier
GenericName[ar]=مكبَر الشاشة
GenericName[bs]=Povećalo za ekran
GenericName[ca]=Lupa de la pantalla
GenericName[cs]=Lupa obrazovky
GenericName[cy]=KChwyddwr
GenericName[da]=Skærmforstørrer
GenericName[de]=Bildschirm-Vergrößerung
GenericName[el]=Μεγεθυντικός φακός οθόνης
GenericName[eo]=Ekrano-pligrandigilo
GenericName[es]=Lente de Pantalla
GenericName[et]=Ekraani suurendaja
GenericName[fi]=Suurennuslasi
GenericName[fr]=Loupe d'écran
GenericName[ga]=Formhéadaitheoir Scáileáin
GenericName[hi]=स्क्रीन का आकार बढ़ाने वाला
GenericName[hu]=Nagyító
GenericName[is]=Skjástækkunargler
GenericName[it]=Lente di ingrandimento per lo schermo
GenericName[ja]=画面拡大鏡
GenericName[nb]=Skjermforstørrer
GenericName[nl]=Schermvergroter
GenericName[nn]=Skjermforstørrar
GenericName[pl]=Powiększanie fragmentów ekranu
GenericName[pt]=Lupa
GenericName[pt_BR]=Amplificador de Tela
GenericName[ro]=Lupă de ecran
GenericName[ru]=Экранная лупа
GenericName[sk]=Lupa obrazovky
GenericName[sl]=Povečevalnik zaslona
GenericName[sr]=Увеличавач екрана
GenericName[sr@Latn]=Uveličavač ekrana
GenericName[sv]=Förstoringsglas
GenericName[ta]=திரை பெரிதாக்கி
GenericName[tg]=Калон кардани экран
GenericName[tr]=Büyüteç
GenericName[uz]=Экранни катталаштирувчи
GenericName[xx]=xxScreen Magnifierxx
GenericName[zh_CN]=屏幕放大镜
GenericName[zh_TW]=螢幕放大鏡
Categories=Qt;KDE;Graphics;X-KDE-More

